:root {
    --font-color: rgb(26, 25, 26);
    --foreground: #f9ebd0;
    --background: linear-gradient(90deg, rgb(229 217 179) 0%, rgb(187 158 122) 100%);
    --shadow: #68516b5e;
    --accent: #f0a958;
    --action: #f7df5b;
    --title: #af8340;
    --inactive: #d6c5cb88;
    --currentPlayer: 0;
    --playerCount: 1;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Protest Strike", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    color: var(--font-color);
}

li {
    list-style-type: none;
}

body {
    width: 100dvw;
    height: 100dvh;
    color: var(--font-color);
    box-sizing: border-box;
    padding: 20dvh 15%;
    background: var(--background);
}

#center {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 60px;
    height: 100%;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.card {
    background: var(--foreground);
    border-radius: 40px;
    width: 100%;
}

.upper {
    height: 65%;
    font-size: 24pt;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(var(--playerCount), 1fr) 80px;
    width: 100%;
    place-items: center;
}

.player {
    outline: none;
    position: relative;
}

.player:focus {
    background: linear-gradient(0deg, var(--accent) 0% 2px, rgba(255, 255, 255, 0) 2px);
}

.indicator {
    position: absolute;
    left: -12px;
    width: 32px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: var(--accent);
    top: calc(var(--currentPlayer) + .5rem);
    transition: top .2s ease;
}

.icon {
    fill: var(--accent);
    width: 18px;
}

#playerUp {
    rotate: 180deg;
}

#playerCount {
    width: 40px;
    text-align: center;
    font-size: 20pt;
    border: none;
    background: none;
    outline: none;
}

.lower {
    height: 20dvh;
    justify-content: space-evenly;
}

#currentPlayer {
    font-size: 24pt;
}


.lower button {
    margin: 12px;
    font-size: 18pt;
    width: 80px;
    border-radius: 24px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: none;
    transition: outline .1s;
    background: var(--accent);
    outline: 0px solid var(--action);
}

button:hover {
    outline: 4px solid var(--action);
}

.hidden {
    visibility: hidden !important;
}

.cabin {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
}

.inactive {
    background-color: var(--inactive);
    color: var(--inactive);
    cursor: default;
}

.hidden {
    display: none !important;
}

#settings {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    justify-content: space-around;
    align-items: center;
}

#settings>div {
    gap: 8px;
}