:root {
    --font-color: rgb(26, 25, 26);
    --foreground: #fceef5e3;
    --background: linear-gradient(90deg, rgba(171, 97, 126, 1) 0%, rgb(133, 96, 122) 100%);
    --shadow: #68516b5e;
    --title: #fceef5;
    --accent: #f688e1;
    --light-accent: #ffd0e2d1;
    --player1: #efbf74;
    --player2: #38ba8d;
    --inactive: #d6c5cb88;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Protest Strike", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

main {
    width: 100dvw;
    height: 100dvh;
    background: var(--background);
    color: var(--font-color);
    box-sizing: border-box;
    padding: 20dvh 25%;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.upper {
    height: 65dvh;
    background: var(--foreground);
    border-radius: 24px;
    font-size: 24pt;
    box-shadow: 8px 8px 8px var(--shadow);
}

.grid {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    width: 100%;
    place-items: center;
}

.lower {
    height: 35dvh;
    justify-content: space-evenly;
}

#currentPlayer {
    color: var(--foreground);
    font-size: 24pt;
}

/* .lower form {
} */

.lower button {
    margin: 12px;
    font-size: 18pt;
    width: 80px;
    border-radius: 24px;
    aspect-ratio: 1/1;
    border: none;
    transition: all .2s;
    background: var(--foreground);
}

button:hover {
    outline: 4px solid var(--accent);
}

.hidden {
    visibility: hidden !important;
}

.cabin {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
}

.inactive {
    background-color: var(--inactive);
    color: var(--inactive);
    cursor: default;
}

.hidden {
    display: none !important;
}